* {
  margin: 0;
  padding:0;
  background-color: black;

}

.body {
  
  line-height: 1.5;
  
}

.header h1{
  color: rgb(93, 0, 150);
  font-size: 120px;
  padding:10px 10px 10px 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hero {
  width: 100%;
  max-height: 800px;
  image-rendering: url("..images/gitch2.jpeg");
  background-size: cover;
  background-position: center;
 
}

.navbar {
 justify-content:right;
 flex-direction: row;
 align-items: flex-end;
}
  

.navbar ul {
text-align: right;

}

.navbar ul li {
  list-style-type: none;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  
}

a:hover {
  color: #f202ff;
}


h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.3rem;
  color: rgb(179, 136, 240);
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
  margin: auto;
}

p {
  display: inline-flex;

}

code > h2 {
  font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  display: flex;
  flex-wrap: flex-end;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #000000;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
}
.aside {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  justify-content: column;
}

.sample-img {
  border-style: groove;
  margin-left: 70px;
  border:red url(picme.jps);
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}

.justify-center {
  flex-direction: row;
  align-items: right;
  align-content: stretch;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.card-column {
  flex: 2 0 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.code-card {
  flex-wrap: wrap;
  flex-direction: column;
  outline: 2px solid rgb(31, 31, 31);
  outline-offset: 1px;
  transition: all 0.5s ease-in-out;
  color: rgb(194, 159, 252);
  text-align: center;
}

.code-card .card-header {
  position: relative;
  margin: 0.2rem.5rem 0 0rem;
  padding: 0rem 1rem;
  text-align: center;

  
}

.card-header:hover, 
.code-card:hover {
  box-shadow: outset 1px 1px 20px;
  transition: "margin-right" 2s, color 1s;
  color:red;
}

.code-card .code-block {
  flex-grow: 1px;
}

.code-card pre {
  white-space: pre-wrap;
  overflow: auto;
  tab-size: 3;
  padding: 1.2rem 1rem 1.2rem 1rem;
  border-radius: 1px;
  display: flex;
  align-items: center;
}

.code-card pre:active {
  user-select: all;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar{
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
  }

  .ul {
    list-style-type: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 30px;
  }
  .aside {
    order: 2;
    align-items: center;
  }

  .header {
    background-color: #ffffff;
  }

  .card-column {
    flex-wrap: wrap;
    max-width: 50%;
    justify-content: center;
  }

  .card-column:last-child {
    flex-grow: 1;
    align-items: center;
  }
  footer h3 {
    background-color: #ffffff;
    padding: 20px;
    margin:-20px;
  }

}


