:root {
  --white: white;
  --black: black;
  --green: chartreuse;
  margin: 0;
  padding: 0;

}

body {
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--black);
  display: flex;
  flex-direction: column;

}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-bottom: 20px;
  padding-top: 30px;

}

img {
  width: 100%;
  height: auto;
}

.img2 {
  width: auto;
  height: auto;
  display: flex-start;
}

.img3 {
  width: auto;
  height: 300px;
  display: flex-start;
}

h1 {
  font-size: 110px;
  margin: 8px 20px 40px 50px;
  line-height: 80px;
  color: var(--white);
  display: block;
  text-align: center;

}

h3 {
  flex-direction: column;
  outline-style: hidden;
  transition: all 4.0s ease-in-out;
  padding: 10px 20px 20px 10px;

}

nav {
  display: inline-block;
  justify-content: center;
  font-size: 17px;

}

h6{
  color:red;
}


p {
  color: var(--green);
  padding: 10px 20px 20px 10px;
  flex-direction: column;
  outline: 2px var(--white);
  outline-style: hidden;
  transition: all 7.0s ease-in-out;
}

.p:hover {
  color: var(--white)
}

h2 {
  flex-direction: column;
  outline: 2px var(--white);
  outline-style: hidden;
  color: var(--green);
  font-size: 60px;
  padding: 10px 20px 20px 10px;

}

nav a {
  border-radius: .2rem;
  padding: 5px;
  color: var(--white);
}

link {
  font-size: 30px;
  text-decoration: none;
  font-size: 30px;
}

form {
  margin: 0 auto;
  width: 300px;
  border-width: thin;
  padding: 10px;
  border: 1px solid var(--green);
  border-radius: 0px;
  margin-bottom: 20px;
}



.nav-link {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  width: 80px;
}

nav-link:hover {
  font-size: 80%;
  flex-grow: 40px;

}

a:hover {
  color: chartreuse;
  text-decoration: none;
}

.main {
  width: 80%;
  height: auto;
  margin-top: 30px;
  margin: auto;
}

section {
  display: flex;
  align-items: center;
  height: 300px;
  width: 1000px;
  margin-left: 50px;
  flex: auto;
  padding: 10px;
}



footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--white);
  color: var(--black);
  margin-top: auto;
}

h4 {
  text-align: center;
  font-size: 10px;
}

aside {
  background-color: var(--white);
  padding: 20px;
  justify-content: column;
}


.text-right {
  color:var(--green);
}


@media screen and (max-width: 768px) {
  .body {
    flex-direction: column;
    display: flex;
  }

.form {
  display: flex;
  flex-direction: column;
  }

  .nav-link {
    display: flex;

  }

  .main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
  }

  .img {
    margin-top: 90px;
    display: flex;
  }


  .h2 {
    display: flex;
  }


  footer {
    background-color: var(--black);
    text-align: center;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }

h3{

      display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: var(--white);

  }
}